<!doctype html>
<html>
<Head>
      <title>Game with me!</title>
    <style>
        td.white {background-color:white;color:black;}
        td.black {background-color:black;color:white;}
    </style>
    </Head>
    <table border="5">
    <tr valign="top">
        <td>
          <table style="width:200">
              {% for i in range(8) %}
                    {% if i % 2 == 0 %}
                          <tr>
                          {% for cell in board[i] %}
                          <td class ="{{ loop.cycle('white','black') }}">{{cell}}</td>
                              {% endfor %}
                          </tr>
                    {% else %}
                            <tr>
                          {% for cell in board[i] %}
                          <td class ="{{ loop.cycle('black','white') }}">{{cell}}</td>
                              {% endfor %}
                          </tr>
                    {% endif %}
              {% endfor %}
          </table>
        </td>
    </tr>
    </table>
        <form action="/move">
            <input type="text" name="move" />
            <input type="submit" />
        </form>
</html>


