<!doctype html>
<html>
<Head>
      <title>Game with me!</title>
    <style>
        td.white {background-color:white;color:black;}
        td.black {background-color:black;color:white;}
    </style>
    </Head>
    <table border="5">
    <tr valign="top">
        <td>
          <table style="width:200">
              {% for row in board %}
            <tr>
                {% for cell in row %}
                <td class ="{{ loop.cycle('black', 'white') }}">{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </td>
    </tr>
    </table>
        <form action="/move">
            <input type="text" name="move" />
            <input type="submit" />
        </form>
</html>


