<!doctype html>
<html>
<Head>
      <Title>Game with me!</Title>
    <style>
        td.white {background-color:white;color:black;}
        td.black {background-color:black;color:white;}
    </style>
    </Head>
    <table border="5">
    <tr valign="top">
        <td>
          <table style="width:200">
              {% for row in board %}
            <tr>
                {% for cell in row %}
                <td class ="{{ loop.cycle('black', 'white') }}">{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </td>
    </tr>
    </table>
</html>


